<% provide :page_title, 'Questions' %>
<% currently_at 'Questions' %>

<h1 class="mb-4">Questions</h1>

<section class="mb-5">
  <h2>Search by tags</h2>

  <%= form_with url: questions_path, method: :get do |f| %>
    <div class="mb-3">
      <%= f.collection_select :tag_ids, (@tags || []), :id, :title, {selected: params[:tag_ids]},
        multiple: true, required: true,
        class: 'js-multiple-select js-ajax-select w-100', data: {'ajax-url': '/api/tags'} %>
    </div>

    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  <% end %>
</section>

<% if policy(:question).new? %>
  <%= link_to 'New question', new_question_path, 
    class: 'btn btn-primary btn-lg mb-3', 
    data: { turbo_frame: dom_id(Question.new) } %>
  <div class="my-3">
    <%= turbo_frame_tag Question.new %>
  </div>
<% end %>

<%= pagination @pagy %>

<%= render @questions %>

<%= pagination @pagy %>